.banner {
  position: absolute;
  color: #fff;
  margin-top: 16em;
  padding: 2rem 2rem;
  text-transform: capitalize;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.banner p {
  font-size: 1.2rem;
}
