.collectible-frames {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 350px;
  margin-top: 25em;
  margin-bottom: 20px;
  margin-left: 5%;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 9px;
  color: #fff;
}

.row2 {
  width: 100%;
}

.filter-row {
  display: flex;
  margin-top: 20px;
}

h3 {
  margin-left: 20px;
  margin-bottom: 5px;
}

.filter {
  position: relative;
  margin-right: 80px;
  width: 100px;
}

.text-color {
  color: #00cc9b;
  background: #000;
}

.divider {
  background: #fff;
  width: 95%;
  margin-left: 1.8%;
}

.list {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  right: 60px;
}

.upcoming {
  color: #00cc9b;
  text-decoration: underline;
}

.marketplace,
.sounds,
.generative,
.upcoming {
  list-style: none;
}

.row3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 20px;
  margin-top: 20px;
}
