.collection {
  width: 489px;
  height: 109px;
  top: 28px;
  background: #27292c;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 17px;
  margin-top: 8em;
  margin-left: 2em;
}

.img-heroes {
  position: absolute;
  width: 146px;
  height: 143px;
  left: 10px;
  top: 0;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 300px;
}

.row1 {
  height: 50px;
}

.row2 {
  display: flex;
  position: relative;
  left: 5em;
  margin-top: 10px;
}

.img {
  width: 147px;
  height: 143px;
  position: relative;
  /* bottom: 15em; */
}

.myTil {
  position: relative;
  left: 160px;
}

.text-white,
.myTil,
.vol,
.flor {
  color: #fff;
}

.vol {
  position: relative;
  left: 1.3em;
}

.floor-price {
  position: relative;
  left: 5em;
}

.text-green {
  color: #00cc9b;
  font-weight: bolder;
}
