.main-wrap {
  width: 90%;
  height: 500px;
  margin: auto;
  border: 1px solid white;
}

.main-header {
  position: absolute;
  width: 425px;
  height: 42px;
  left: 95px;
  top: 24px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 28px;
  line-height: 42px;

  color: #FFFFFF;
}

.divider {
  position: relative;
  top: 70px;
}

.collection-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}