.hero {
  position: relative;
  height: 412px;
  left: 0%;
  right: 0%;
  top: 0%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 3.88%, rgba(0, 0, 0, 0) 133.98%), url(../images/image.png);
}
