.wrap {
  width: 90%;
  height: 600px;
  border: 1px solid #ffffff;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #151616;
}

.col1,
.col2 {
  width: 50%;
}

.col2 {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  height: 200px;
}

.col1 {
  border: 1px solid red;
}

.tags {
  display: flex;
  position: relative;
  top: 10em;
}

.mh-col {
  position: absolute;
  left: 6.38%;
  right: 77.43%;
  top: 6.73%;
  bottom: 89.76%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18.6514px;
  line-height: 28px;
  color: #FFFFFF;
}

.mw {
  position: absolute;
  left: 6.38%;
  right: 70.72%;
  top: 14.61%;
  bottom: 79.19%;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
}

.img {
  position: relative;
  left: 36px;
  top: 150px;
  border-radius: 17px;
}

.edition {
  color: #ffffff;
  position: relative;
  top: 11em;
  left: 2em;
}

.hip-hop-tags,
.atlanta-tags,
.rapper-tags,
.trapper-tags,
.slime-tags {
  width: 70px;
  height: 25px;
  border: 1px solid #FFFFFF;
  margin: 5px;
}


.text-deco-none {
  text-decoration: none;
  position: relative;
  margin-left: 10px;
  color: #FFFFFF;
}

.edition {
  font-weight: bolder;
  font-size: 16.1px;
}

.num {
  font-weight: 100;
}

.bid-row {
  position: absolute;
  width: 505px;
  height: 147.76px;
  left: 734px;
  top: 40px;

  border: 1.15737px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3.85791px;

  display: flex;
}
.bid-description {
  position: absolute;
  width: 506.99px;
  height: 283.77px;
  left: 738px;
  top: 296px;

  border: 1.1646px solid #FFFFFF;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.place-bid {
  position: absolute;
  top: 13em;
  left: 46em;
  display: flex;
}

.bid-input {
  width: 293.06px;
  height: 53.07px;
  left: 594px;
  top: 215.23px;
  border: 3px solid #018D6C;;
}

.bid-btn {
  width: 196.4px;
  height: 52.37px;
  left: 894.38px;
  top: 214.04px;

  background: linear-gradient(101.64deg, #00CC9B 31.08%, #018D6C 66.07%);
  border: none;
  margin-left: 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 23.1062px;
  line-height: 103.5%;
  color: #FFFFFF;
}
.c-bid-money,
.s-bid-money {
  font-family: Poppins;
  font-style: normal;
  font-weight: bolder;
  font-size: 19.4316px;
  line-height: 27px;
  /* or 175% */


  color: #FFFFFF;
}

.amount {
  position: relative;
  left: 1em;
  top: 2em;
}

.current-bid,
.starting-bid,
.time {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15.4316px;
  line-height: 27px;
  /* or 175% */


  color: #FFFFFF;
}

.time {
  font-size: 22px;
  position: relative;
  top: 2em;
  width: 800px;
}

.time-date {
  font-weight: 900;
  font-size: 2em;
  margin-top: 10px;
}

.desc-row {
  height: 140px;
  /* border: 1px solid white; */
}

.description,
.desc-text {
  margin-top: 1.5em;
  color: #FFFFFF;
}

.desc-text {
  width: 90%;
  height: 30px;
  position: relative;
  left: 20px;
  font-size: 1.2em;
}

.flex,
.details-props,
.props-val {
  display: flex;
}

.flex {
  position: relative;
  left: 1.3em;
  top: 1em;
}

.details-row h3 {
  color: #FFFFFF;
}

.details-props,
.props-val {
  flex-direction: column;
}

.details-props,
.props-val {
  color: #FFFFFF;
}

.c-address,
.t-id,
.b-chain,
.c-address-val,
.t-id-val,
.b-chain-val {
  margin-bottom: 0.5em;
}