.bg {
  background: linear-gradient(73.25deg, #000 7.24%, #4d4b4b 108.45%);
}

.top-collections {
  position: absolute;
  width: 90%;
  height: 269px;
  margin-left: 5%;
  overflow-x: scroll;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 9px;
  display: flex;
}
